*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body{
    background-color: #F5F5DC;
}
header{
    height: 120px;
    background-color: #D2B48C;
    display: flex;
    align-items: center;
    justify-content: center;
}
header div{
    height: 100%;
}
header div img{
    height: 100%;
}
.produto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: auto;
}
.produto-card{
    width: 260px;
    height: 360px;
    box-shadow: 2px 2px 5px black;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}
.produto-card img{
    border-radius: 10px 10px 0px 0px ;
    width: 100%;
    height: 90%;
}
.produto-card h4{
    text-align: center;
}
.produto-card:hover{
    box-shadow: 2px 2px 5px white;
    opacity: 0.8;
    padding: 2px;
    cursor: pointer;
}
.form{
    background-color: white;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.form input{
    width: 300px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}
.form select{
    width: 300px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid black;
    margin: 10px;
}
.form textarea{
    width: 300px;
    margin: 10px;
    border: none;
    background-color: #F5F5DC;
    border-radius: 10px;
    padding: 10px;
    outline: none;
}
.form button{
    padding: 10px;
    background-color: #C0C0C0 ;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
    cursor: pointer;
}
.form button:hover{
    opacity: 0.9;
    box-shadow: 2px 2px 10px lightslategray;
}
footer{
    background-color: #D2B48C;
    height: 50px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: flex-end;
}
.contato{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    cursor: pointer;
}
@media(max-width:600px){
    .produto{
        width: 100%;
    }
    .produto-card{
        width: 40%;
        height: 200px;
    }
}